<p>admin works!</p>
<header>
   <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:black"><b>WELCOME TO ADMIN PAGE !!</b></h1><br>
    <nav class ="navbar navbar-expand-md navbar-dark bg-secondary">
      
      <ul class="navbar-nav">
       
        <li><a routerLink="/signup" class="nav-link">Add Merchnat</a></li>
        <li><a routerLink="/addDiscount" class="nav-link">Add Discount</a></li>
        <li><a routerLink="/addPromocode" class="nav-link">Add Promocode</a></li>
        <li><a routerLink="/showCustomer" class="nav-link">Customer Details</a></li>
        <li><a routerLink="/showMerchant" class="nav-link">Merchnat Details</a></li>
        <li><a routerLink="/showProduct" class="nav-link">Product List</a></li>
        <li><a routerLink="/showDiscount" class="nav-link">Show Discount</a></li>
        <li><a routerLink="/showPromocode" class="nav-link">Show Promocode</a></li>
        <li><a routerLink="/PendingFeedbacks" class="nav-link">Pending Feedbacks</a></li>
       
        
      </ul>&nbsp;&nbsp;
      <input type="any" placeholder="Search" style="width: 300px;" name="SearchTerm" >
    </nav>    
</header>
<br>
<!--<h2>Do you want to invite any merchant? If yes, provide the email address:
    <form #emForm="ngForm" (ngSubmit)="invite()">
        <input type="email" [(ngModel)]="email" name="mailid" value="Enter email">
        <input type="submit" value="Invite" class="btn btn-primary" />

    </form>
    <br>
</h2>
<h2>Do you want to add third party merchant?
<a href="thirdparty">Click here.</a></h2>
-->