<p>customer-list works!</p>
<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;"> CUSTOMER DETAILS</h1>
<button (click)="back()"  class="btn btn-secondary" style="margin-left: 10px"><<Back</button>


<table class="table table-striped table table-hover" id="myTable">
    <thead class="thead-light">
    <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>EmailId</th>
        <th>Customer Phone No.</th>
        <th>Customer Alternate Phone No.</th>
        <th>Address</th>
       <th><input type="any" name="searchTerm" id="myInput" style="width: 300px;" placeholder="Search by Name of Customer" [(ngModel)]=searchTerm/>&nbsp;&nbsp;
       </th> 
    </tr>
  </thead>
    <tr *ngFor="let c of customerList | filterCustomer:searchTerm ">
        <td>{{c.userId}}</td>
        <td>{{c.name}}</td>
        <td>{{c.eMail}}</td>
        <td>{{c.phoneNumber}}</td>
        <td>{{c.alternatePhoneNumber}}</td>
        <td>{{c.address}}</td>
        <td><button (click)="deleteuser(c.userId)"  class="btn btn-danger">Delete</button>
            <button  class="btn btn-info" style="margin-left: 10px">Update</button>
       


    </tr>

</table>

<button (click)="back()"  class="btn btn-secondary" style="margin-left: 10px"><<Back</button>
    
