.container{
    margin-top: 50px;
    border-radius: 15px;
    
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

h2{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: crimson;
}

.error{
    color: red;
}